* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
    text-align: center;
    height: 100%;
    margin: 0;
}

/* Head title */

.head-title img {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}

.head-title p {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    color: #6A37E3;
    margin-bottom: 10px;
}

.head-title h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px;
    color: #1B0947;
    line-height: 121%;
}

/* header section */
header {
    margin-top: 15px;
    position: sticky;
    top: 15px;
    z-index: 1000;
}

header .header {
    backdrop-filter: blur(5px);
    width: 80%;
    height: 60px;
    background-color: white;
    border: 2px solid #EDE7FC;
    border-radius: 100px;
    align-content: center;
    margin: 0 auto;
}

header .header .nav .hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #6A37E3;
}

header .header img {
    width: 118px;
    height: 24px;
}

header .header .nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

header .header .nav .nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .header .nav .nav-list .nav-link {
    color: #5F537E;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 1s ease;
    font-size: 17px;
}

header .header .nav .nav-list .nav-link:hover {
    color: #6A37E3;
    font-weight: bold;
    border-bottom: 2px solid #6A37E3;
}

header .header .nav .nav-list .nav-link.active {
    color: #6A37E3;
    font-weight: bold;
    border-bottom: 2px solid #6A37E3;
}

header .header .nav button {
    width: 94px;
    height: 34px;
    background-color: white;
    border: 1px solid #6A37E3;
    font-size: 14px;
    color: #6A37E3;
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
}

header .header .nav button:hover {
    background-color: #6A37E3;
    color: white;
}

/* herro section css */

.herro-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(to top, #BDA2FF, #FFFFFF);
    height: auto;
    width: 95%;
    padding-bottom: 80px;
    padding-top: 100px;
    margin: 0 auto;
    border-radius: 20px;
}

.herro-section h1 {
    width: 600px;
    font-size: 55px;
    font-weight: 700px;
    color: #8856F8;
    text-align: center;
    margin: 0 auto;
}

.herro-section span {
    margin-top: 6px;
    display: inline-block;
    color: white;
    background-image: linear-gradient(to bottom, #8F5BFC, #6F47EB);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: normal;
}

.herro-section p {
    width: 600px;
    color: #8B59FA;
    margin: 0 auto;
}


/* Latest and Top readed section */
.readed-section {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 116px;
    display: flex;
    justify-content: space-around;
}

/* The latest blog part */

.readed-section .left {
    text-align: left;
    height: auto;
    width: auto;
}

.readed-section .left h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 30px;
    color: #1B0947;
}

.readed-section .left .Latest-blog {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.readed-section .left .Latest-blog img {
    width: 400px;
    height: 280px;
    border-radius: 10px;
}


.readed-section .left .Latest-blog .content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.readed-section .left .Latest-blog .content h2 {
    color: #1B0947;
    width: 400px;
}

.readed-section .left .Latest-blog .content .parag {
    color: #766B91;
    width: 400px;
}

.readed-section .left .Latest-blog .content a {
    color: #7FAC76;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.readed-section .left .Latest-blog .content .date-person .date {
    color: #493A6C;
}

.readed-section .left .Latest-blog .content .date-person .person {
    color: #6A37E3;
}

.readed-section .left .Latest-blog .content h2,
p {
    margin: 0;
}

.readed-section .left .Latest-blog .content .date-person {
    display: flex;
    gap: 8px;
    align-items: center;
}

.readed-section .left .Latest-blog .content .date-person .circle {
    border-radius: 100px;
    width: 6px;
    height: 6px;
    background-color: #6A37E3;
}

/* The Top Readed blogs  */

.readed-section .right {
    text-align: left;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.readed-section .right h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 30px;
    color: #1B0947;
    text-align: left;
}

.readed-section .right .Top-read {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.readed-section .right .Top-read .card {
    width: auto;
    height: auto;
    display: flex;
    gap: 18px;
    text-align: left;
}

.readed-section .right .Top-read .card img {
    width: 180px;
    height: 120px;
    border-radius: 10px;
}

.readed-section .right .Top-read .card .card-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.readed-section .right .Top-read .card .card-content h3 {
    width: 300px;
    font-size: 22px;
    font-weight: normal;
    line-height: 124%;
    color: #1B0947;
}

.readed-section .right .Top-read .card .card-content .date-person {
    display: flex;
    gap: 8px;
    align-items: center;
}


.readed-section .right .Top-read .card .card-content .date-person p {
    color: #493A6C;
    font-size: 18px;
    font-weight: normal;
}

.readed-section .right .Top-read .card .card-content .date-person a {
    color: #7FAC76;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.readed-section .right .Top-read .card .card-content .circle {
    border-radius: 100px;
    width: 6px;
    height: 6px;
    background-color: #7FAC76;
}


/* Blog section */

.Blog {
    width: 100%;
    height: fit-content;
    margin: 50px auto;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.Blog .blog-grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
    margin: 0 auto;
}

.Blog .blog-grid .card {
    background-color: #ffffff;
    width: 280px;
    height: auto;
    border: 1px solid #EEE6FF;
    border-radius: 10px;
    overflow: hidden;
}

.Blog .blog-grid .card img {
    width: 100%;
    height: 140px;
}

.Blog .blog-grid .card .blog-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Blog .blog-grid .card .blog-date {
    color: #766B91;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
}

.Blog .blog-grid .card .blog-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 131.3%;
    text-align: left;
    color: #1d1d1f;
    margin: 0px;
    margin-bottom: 14px;
}

.Blog .blog-grid .card .blog-author {
    font-size: 14px;
    font-weight: normal;
    color: #6A37E3;
    margin: 0px;
    text-align: left;
}


/* footer */

/* subscribe to get blog posts news section */

footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .News-section {
    margin: 0 auto;
    background-image: linear-gradient(to top, rgba(189, 162, 255, 0.3), #ffffff);
    width: 85%;
    height: fit-content;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}

footer .News-section .row1 img {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}

footer .News-section .row1 p {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    color: #6A37E3;
    margin-bottom: 10px;
}

footer .News-section .row1 h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px;
    color: #1B0947;
    line-height: 121%;
}

footer .News-section .row2 {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    margin-top: 54px;
    position: relative;
}

footer .News-section .row2 .line-card {
    width: 1005px;
    height: 260px;
    border-radius: 0px 0px 20px 20px;
    border-left: 2px solid #DED3F9;
    border-right: 2px solid #DED3F9;
    border-bottom: 2px solid #DED3F9;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

footer .News-section .row2 .email {
    width: 320px;
    height: 43px;
    background-color: #FFFFFF;
    border: 1px solid #C5B4F7;
    border-radius: 100px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #C5B4F7;
    z-index: 1;
}

footer .News-section .row2 .subscribe-btn {
    width: 143px;
    height: 45px;
    background-color: #8F5BFC;
    border: 1.5px solid #C5B4F7;
    border-radius: 100px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    z-index: 1;
}

/* Footer section button content */

footer .bottom-footer {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

footer .bottom-footer .row3 {
    margin-top: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

footer .bottom-footer .row3 .line {
    border-left: 2px solid #5F537E;
    width: 5px;
    height: 32px;
}

footer .bottom-footer .links {
    display: flex;
    gap: 35px;
    align-items: center;
}

footer .bottom-footer .row3 .links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #5F537E;
}

footer .bottom-footer hr {
    background-color: #8F5BFC;
    width: 100%;
    border: none;
    height: 1px;
}

footer .bottom-footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .bottom-footer .copyright p,
h1 {
    color: #1B0947;
}

footer .bottom-footer .copyright .social-links img {
    width: 36px;
    height: 36px;
    margin-top: 14px;
}



@media (max-width: 1024px) {

    /* readed-section */
    .readed-section {
        flex-direction: column;
        gap: 50px;
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .readed-section .left .Latest-blog img,
    h2,
    .parag {
        width: 100%;
        height: auto;
    }

    .readed-section .left .Latest-blog .content h2 {
        width: 100%;
    }

    .readed-section .left .Latest-blog .content .parag {
        width: 100%;
    }

    /* Blog */

    .Blog .blog-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* members */

    .Members .members-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Stories */

    .Stories .counter {
        flex-direction: column;
    }

    .Stories .counter .line {
        width: 100%;
        height: 5px;
    }

    /* footer */
    footer .bottom-footer .row3 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    footer .bottom-footer .copyright {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}

@media (max-width: 768px) {

    /* header  */
    header .header .nav .hamburger {
        display: block;
    }

    header .header .nav .nav-list,
    button {
        display: none;
    }

    /* Head title */
    .head-title img {
        width: 50px;
        height: 50px;
    }

    .head-title p {
        font-size: 10px;
    }

    .head-title h1 {
        font-size: 30px;
    }

    /* herro */
    .herro-section {
        padding-left: 18px;
        padding-right: 18px;
    }

    .herro-section h1 {
        width: fit-content;
        font-size: 45px;
    }

    .herro-section p {
        width: fit-content;
    }

    /* footer */
    footer .News-section .row2 {
        flex-direction: column;
    }

}

@media (max-width: 480px) {

    /* readed-section */
    .readed-section .left .Latest-blog h2 {
        font-size: 18px;
    }

    .readed-section .left .Latest-blog p {
        font-size: 14px;
    }

    .readed-section .right .Top-read .card img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .readed-section .right .Top-read .card .card-content h3 {
        font-size: 16px;
        width: 100%;
    }

    .readed-section .right .Top-read .card p {
        font-size: 16px;
        width: 100%;
    }

    .readed-section .right .Top-read .card .card-content .date-person p {
        font-size: 14px;
    }

    .readed-section .right .Top-read .card .card-content .date-person a {
        font-size: 14px;
    }

    .readed-section .right .Top-read .card .card-content .date-person {
        gap: 2px;
        width: auto;
    }

    .readed-section .right .Top-read .card .card-content .circle {
        width: 6px;
        height: 6px;
    }

    /* Blog grid */

    .Blog .blog-grid {
        grid-template-columns: 1fr;
    }

    /* Head title */
    .head-title h1 {
        font-size: 25px;
    }

    /* herro */
    .herro-section h1 {
        width: fit-content;
        font-size: 35px;
    }

    .herro-section p {
        font-size: 12px;
    }

    /* footer */

    footer .News-section .row2 .email {
        width: 250px;
        height: 45px;
    }

    footer .News-section .row2 .subscribe-btn {
        width: 250px;
        height: 45px;
    }

    footer .News-section .row2 .line-card {
        display: none;
    }
}